/* ============================== */
/* Variables */
/* ============================== */

$font-color: #fff;
$font-alternative-color: #333;
$accent-color: rgb(239, 204, 78);
$accent-color2: #512d1a;
$background-color: rgb(12, 57, 44);
$background-alternative-color: #e0fbfc;
$header-font: 'Poppins', 'Futura', 'Arial', sans-serif;
$text-font: 'Cardo', 'Times New Roman', serif;