/* ============================== */
/* Base CSS */
/* ============================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

img, embed, object, video {
    max-width: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    color: $text-color;
    font-family: $text-font;
    font-size: 18px;
    line-height: 1.5;
    box-sizing: border-box;
    border: 0 none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.6em;
}

ol, ul {
    padding-left: 1.5em;
    margin-bottom: 1em;
}

.hidden {
    display: none !important;
}

.main {
    flex: 1 0 auto;
    margin: 0 auto;
    width: 50vw;
    min-width: 50vw;
}

.active a {
    border-bottom-color: $text-color;
}

a {
    color: $text-color;
    text-decoration: none;
    border-bottom: 2px solid;
    border-bottom-color: $accent-color;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $link-color;
        border-bottom-color: $link-color;
        transition: all 0.3s;
    }
}

.nav a,
.footer a {
    position: relative;
    top: 0;
    transition: all 0.4s;
    
    &:hover {
        top: -3px;
        transition: all 0.4s;
    }
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // border-bottom: 1px solid $text-color;
}

.site-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo,
.title {
    padding: 20px 10px 10px;
}

.logo a,
.title a {
    border: 0;
}

.logo img {
    height: 50px;
    padding: 0;
}

.title * {
    color: $text-color;
}

.title p {
    font-style: italic;
}

.nav {
    justify-content: center;
    margin: 0;
}

p {
    margin-bottom: 1.5em;

    &:last-child {
        margin-bottom: 0;
    }
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.main-image {
    max-width: 20vw;
    min-width: 10vw;
}

.analysis-image {
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
}

// Remember to add alt-tags!
img:not([alt]) {
    outline: 4px #f00 dashed !important;
}