/* ============================== */
/* Dark Mode Only */
/* ============================== */

.footer {
    background-image: url('../../../assets/img/succulents-wallpaper.jpg');
    background-position: top;
}

img {
    filter: saturate(85%) !important;
}
