/* ============================== */
/* Variables Dark Mode */
/* ============================== */

// $text-color: rgb(244, 242, 240);
$text-color: rgb(240, 236, 230);
// $link-color: rgb(115, 170, 150);
// $link-color: rgb(245, 205, 60);
$link-color: rgb(220, 120, 60);

// $accent-color: rgb(80, 45, 25);
$accent-color: rgb(50, 110, 90);

$background-color: rgb(15, 60, 45);