/* ============================== */
/* Variables Light Mode */
/* ============================== */

$text-color: rgb(15, 60, 45);
// $link-color: rgb(115, 170, 150);
$link-color: rgb(220, 120, 60);

// $accent-color: rgb(45, 110, 90);
// $accent-color: rgb(230, 240, 228);
$accent-color: rgb(218, 225, 220);
$accent-color: rgb(205, 215, 205);

// $background-color: rgb(244, 242, 240);
// $background-color: rgb(242, 239, 236);
$background-color: rgb(240, 236, 230);